
/* about us area */

.aboutUs {
	margin-top: 50px;
	border-bottom: 1px solid #eee;
}

/* content area */

.content {
	border: 5px solid #eee;
	padding: 50px;
}

.content p {
	margin-top: 40px;
}

.sign img {
	width: 120px;
}

.bg {
	display: none;
}

/* faciliy area */

.faciliy {
	margin-top: 60px;
	text-align: center;
}

.faciliy i {
	height: 60px;
}

.faciliy svg {
	width: 52px;
	height: 52px;
}

.faciliy h4 {
	margin-top: 10px;
	position: relative;
	z-index: 1;
	font-size: 18px;
}

.faciliy h4::before,
.faciliy h4::after {
	position: absolute;
	content: "";
	width: 16px;
	height: 2px;
	bottom: 12px;
	background-color: #444;
}

.faciliy h4::before {
	margin-left: -40px;
}

.faciliy h4::after {
	margin-left: 20px;
}

.faciliy p {
	font-size: 14px;
}

/* responsive css */

@media (min-width: 767px) {
	.bg {
		display: block;
		margin: -75px 0 0 -50px;
	}

	.faciliy {
		margin-top: 100px;
	}

	.faciliy h4 {
		font-size: 20px;
	}
}

@media (min-width: 1000px) {

	.faciliy h4 {
		font-size: 1.5rem;
	}

	.faciliy p {
		font-size: 15px;
	}
}