
/* gallery area */

.gallery {
	background-color: #eee;
}

.list {
	overflow: hidden;
	margin-top: 50px;
	width: 100%;
}

/* responsive css */

@media(min-width: 767px) {

	.list {
		height: 640px;
	}

}
