
/* gallery area */

.gallery {
	background-color: #eee;
}

.list {
	overflow: hidden;
	margin-top: 50px;
}

/* responsive css */

@media(min-width: 767px) {

	.list {
		position: relative;
		height: 640px;
	}

}
