
/* ranking area */

.ranking {
	margin-bottom: 50px;
}

/* content */

.content {
	padding-top: 45px;
	border: 5px solid #eee;
	position: relative;
	z-index: 1;
	text-align: center;
	margin-top: 275px;
}

.content p {
	font-size: 12px;
	margin-top: 40px;
	margin-bottom: 0;
}

/* num */

.num {
	position: absolute;
	right: 0;
	z-index: 9;
	left: 0;
	width: 300px;
	height: 300px;
	background: #FE6900;
	display: flex;
	justify-content: center;
	align-items: center;
	float: right;
	margin-right: -36px;
}

.num h1 {
	color: #fff;
	text-align: center;
}

.num b {
	font-size: 222px;
}

/* responsive css */

@media (min-width: 480px) {

	.content {
		padding: 40px 0 40px 0;
		margin: 205px 80px 0 80px;
	}

	.num {
		width: 200px;
		height: 250px;
	}
}

@media (min-width: 768px) {

	.content {
		padding: 50px 80px 50px 80px;
		margin: 50px 0 0 0;
	}

	.content p {
		font-size: 13px;
	}

	.num {
		width: 300px;
		height: 300px;
		left: auto;
	}
}

@media (min-width: 991px) {

	.num {
		width: 400px;
		height: 400px;
		left: auto;
	}

	.content p {
		font-size: 15px;
	}
}